<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.newyork.dms.mapper.EmployeeMapper">
  <resultMap id="BaseResultMap" type="cn.newyork.common.domain.Employee">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="identcard" jdbcType="VARCHAR" property="identcard" />
    <result column="inputdate" jdbcType="TIMESTAMP" property="inputdate" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="educdetail_id" jdbcType="BIGINT" property="educdetailId" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="sexdetail_id" jdbcType="BIGINT" property="sexdetailId" />
    <result column="birthday" jdbcType="TIMESTAMP" property="birthday" />
    <result column="descs" jdbcType="VARCHAR" property="descs" />
    <result column="status" jdbcType="BIGINT" property="status" />
      <association column="department_id"
                   javaType="cn.newyork.common.domain.Department"
                   property="department"
                   select="findDepartment">
      </association>
  </resultMap>

    <select id="findDepartment" parameterType="long" resultType="cn.newyork.common.domain.Department">
        select id, sn, name, phone, fax, url, parent_id, employee_id, descs, status
    from t_department
    where id = #{department_id}
    </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_employee
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.newyork.common.domain.Employee">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_employee (id, username, password, 
      realname, identcard, inputdate, 
      phone, educdetail_id, address, 
      sexdetail_id, birthday, descs, 
      status, department_id)
    values (#{id,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{realname,jdbcType=VARCHAR}, #{identcard,jdbcType=VARCHAR}, #{inputdate,jdbcType=TIMESTAMP}, 
      #{phone,jdbcType=VARCHAR}, #{educdetailId,jdbcType=BIGINT}, #{address,jdbcType=VARCHAR}, 
      #{sexdetailId,jdbcType=BIGINT}, #{birthday,jdbcType=TIMESTAMP}, #{descs,jdbcType=VARCHAR}, 
      #{status,jdbcType=BIGINT}, #{department.id,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.newyork.common.domain.Employee">
    update t_employee
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      realname = #{realname,jdbcType=VARCHAR},
      identcard = #{identcard,jdbcType=VARCHAR},
      inputdate = #{inputdate,jdbcType=TIMESTAMP},
      phone = #{phone,jdbcType=VARCHAR},
      educdetail_id = #{educdetailId,jdbcType=BIGINT},
      address = #{address,jdbcType=VARCHAR},
      sexdetail_id = #{sexdetailId,jdbcType=BIGINT},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      descs = #{descs,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIGINT},
      department_id = #{department.id,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, username, password, realname, identcard, inputdate, phone, educdetail_id, 
    address, sexdetail_id, birthday, descs, status, department_id
    from t_employee
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, username, password, realname, identcard, inputdate, phone, educdetail_id, 
    address, sexdetail_id, birthday, descs, status, department_id
    from t_employee
  </select>

  <select id="queryPage" resultMap="BaseResultMap">
    select id, username, password, realname, identcard, inputdate, phone, educdetail_id,
    address, sexdetail_id, birthday, descs, status, department_id
    from t_employee
  </select>
  <!--根据用户名查询数据-->
  <!--Employee findByUsername(String username);-->
  <select id="findByUsername" resultType="cn.newyork.common.domain.Employee" parameterType="string">
    select * from t_employee where username =#{username}
  </select>
</mapper>