<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.newyork.dms.mapper.FileExpirationManagementMapper" >
  <resultMap id="BaseResultMap" type="cn.newyork.common.domain.FileExpirationManagement" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="destorydate" property="destorydate" jdbcType="TIMESTAMP" />
    <result column="descs" property="descs" jdbcType="VARCHAR" />
    <association property="archive"
                 column="archive_id"
                 javaType="cn.newyork.common.domain.Archive"
                 select="findArchiveById">
    </association>
    <association property="employee"
                 column="employee_id"
                 javaType="cn.newyork.common.domain.Employee"
                 select="findEmployeeById">
    </association>
    <association property="destory"
                 column="destory_id"
                 javaType="cn.newyork.common.domain.SystemDictionaryDetail"
                 select="findDetailById">
    </association>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_fileexpirationmanagement
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.newyork.common.domain.FileExpirationManagement" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_fileexpirationmanagement (id, archive_id, employee_id, 
      destorydate, destory_id, descs
      )
    values (#{id,jdbcType=BIGINT}, #{archive.id,jdbcType=BIGINT}, #{employee.id,jdbcType=BIGINT},
      #{destorydate,jdbcType=TIMESTAMP}, #{destory.id,jdbcType=BIGINT}, #{descs,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.newyork.common.domain.FileExpirationManagement" >
    update t_fileexpirationmanagement
    set archive_id = #{archive.id,jdbcType=BIGINT},
      employee_id = #{employee.id,jdbcType=BIGINT},
      destorydate = #{destorydate,jdbcType=TIMESTAMP},
      destory_id = #{destory.id,jdbcType=BIGINT},
      descs = #{descs,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, archive_id, employee_id, destorydate, destory_id, descs
    from t_fileexpirationmanagement
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, archive_id, employee_id, destorydate, destory_id, descs
    from t_fileexpirationmanagement
  </select>
  <select id="queryPage" resultMap="BaseResultMap" >
    select id, archive_id, employee_id, destorydate, destory_id, descs
    from t_fileexpirationmanagement
  </select>

  <select id="findArchiveById" parameterType="long" resultType="cn.newyork.common.domain.Archive">
    select * from t_archive where id=#{id}
  </select>
  <select id="findEmployeeById" parameterType="long" resultType="cn.newyork.common.domain.Employee">
    select * from t_employee where id=#{id}
  </select>
  <select id="findDetailById" parameterType="long" resultType="cn.newyork.common.domain.SystemDictionaryDetail">
    select * from t_systemDictionaryDetail where id=#{id}
  </select>
</mapper>